html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */s
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url(./images/bg_html.jpg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 940px;
	margin: 0 auto;
}
.header{
	padding: 10px;
	width: 927px;
}
.logo{
	float: left;
	width: 175px;
}
.e04e04{
	width: 560px;
	margin-left: 111px;
	font-size: 18px;
}
.icon{
	width: 50px;
	margin-left: 599px;

}
.e041{
    width: 600px;
    float: left;
    padding-left: 106px;
}
.e041li{
	padding-left: 10px;
	padding-right: 23px;
	width: 60px;
	text-align: center;
	float: left;
	margin-top: 68px;
}

.e041a{
	text-decoration:none;
	color: black;
}
.one{
	width: 940px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.one1{
	width: 600px;
	float: left;
}
.one1_1
{	
	float: left;
	width: 300px;
	padding: 20px;
	background-color: black;
	height: 349px;
}
.one1A{
	width: 205px;
	word-wrap:break-word;
	color: #AAAAAA;
	padding-bottom: 5px;
	margin-left: 27px;
}
.one1A h2{
	font-size: 40px;
}
.one1_1 button {
	background-color: rgb(48, 48, 48); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.one1_1 div{
	margin-left: 24px;
    margin-top: 20px;
}
.two{
	padding: 20px;
	word-wrap:break-word;
	width: 900px;
	background-color: white;
	margin-bottom: 35px;
}
.three{
	padding: 20px;
	word-wrap:break-word;
	width: 900px;
	background-color: white;
}
.three h2{
	color: black;
	font-size: 32px;
}

.three_eo4{
	float: left;
	width: 590px;
}
.three_1{
	
	float: left;
	width: 567px;
 	margin-bottom: 77px;
 	margin-left: 18px;
}
.three_1 div{
	margin-top: 10px; 
}
.three_2{
	float: left;
	width: 370px;
}
.three_2{
	float: left;
	width: 900px;
}
.three_1u1{
	margin-top: 19px;
	width: 200px;
	float: left;
}
.three_1u2{
	width: 330px;
	float: left;
	padding: 15px;
	margin-top: 10px;
}
.three_3{
	width: 300px;
	float: left;
	margin-top: 21px;

	/*padding-left: 10px;*/
}
.three_3_ul{
	padding-right: 31px;
    margin-bottom: 89px;
    margin-left: 37px;
    line-height: 1.8em;
}
.three_3_ul li{
	list-style-image: url("./images/icon_03.png"); 
}
.footer{
	    padding: 33px;	
	    text-align: center;
}
.clear{
	clear: both;
}
h2{
	color: #009FCC;
}
h3{
	font-weight: bolder;
}
p{
	line-height: 1.7em;
}
button {
    background-color: rgba(0, 0, 0, 0.08); /* Green */
    border: none;
    color: #009FCC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 22px 0px;
    cursor: pointer;
}
input{
	border: 1px solid gray ;
	padding: 3px;
	margin-top: 30px;
	margin-bottom: 30px: 
}
span{
	color: #009FCC;
}